In [20]:
#!pip install tweepy

In [1]:
cd /home/jovyan/GA_DSI/Projects/capstone/

/home/jovyan/GA_DSI/Projects/capstone

In [2]:
import tweepy
import twitter
from twitter import OAuth 
from twitter import TwitterStream 
import csv
import pickle
import pandas as pd
from tqdm import tqdm
from time import sleep
import pymongo
import lib.mongo_utilities as mongo

## Data acquisition from twitter.

In [77]:
####input your credentials here
my_auth_dict={
               'CONSUMER_KEY':'vSDP5sxilw6chhuD2CwtEyOmw',
               'CONSUMER_SECRET':'burFncmKxLlZme9IHwukubgXSi8CqHrTzg7ui0x09M2tQ7nOUb',
               'ACCESS_TOKEN':'930880332827521024-isEVd6n420hBVlriG5eRQaFA0PIu6bD',
               'ACCESS_SECRET':'klQlKPoVHVBWAa2XL0pmM7DBzLBcb42sUPhlzN8hgugvU'
             }

# authentication for twitterstream
oauth = OAuth(my_auth_dict['ACCESS_TOKEN'],
              my_auth_dict['ACCESS_SECRET'],
              my_auth_dict['CONSUMER_KEY'],
              my_auth_dict['CONSUMER_SECRET'])

twitter_stream = TwitterStream(auth=oauth)

# authentication for tweepy.
consumer_key = my_auth_dict['CONSUMER_KEY']
consumer_secret = my_auth_dict['CONSUMER_SECRET']
access_token = my_auth_dict['ACCESS_TOKEN']
access_token_secret = my_auth_dict['ACCESS_SECRET']

auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_token_secret)
api = tweepy.API(auth,wait_on_rate_limit=True)

In [11]:
# Getting extended text from user timeline.
# new_tweets = api.user_timeline(screen_name = screen_name,count=200, tweet_mode="extended")
# tweets = [[tweet.full_text] for tweet in new_tweets]

In [11]:
# airline_twit_handles = ['@VirginAmerica', '@united', '@SouthwestAir',
#                        '@JetBlue', '@USAirways', '@AmericanAir', '@Delta']

# hashtags: #unitedAIRLINES, #americanAIRLINES, #southWestAIRLINES, #virginAmerica
#            USAirways, #JetBlue, #Delta

In [ ]:
# The following method collects tweets for a give airline and stores in a csvfile.

In [7]:
def pull_tweets_store_csv(airline, filename, date, num_tweets):
    '''
    This method pulls tweets from twitter and saves them to a csv file.
    '''
    
    # Open/Create a file to append data
    csvFile = open(filename, 'a')

    #Use csv Writer
    csvWriter = csv.writer(csvFile)

    for tweet in tweepy.Cursor(api.search,q="#"+airline,count=num_tweets,
                               lang="en",
                               tweet_mode='extended',
                               since=date).items():
        
        print (tweet.created_at, tweet.full_text)
        csvWriter.writerow([airline, tweet.created_at, tweet.full_text.encode('utf-8')])

In [104]:
def tweepy_pull_tweets_store_db(airline, coll_ref, date, num_tweets):
    '''
    This method pulls tweets from twitter and saves them to mongo database.
    '''
    for tweet in tweepy.Cursor(api.search,
                               q = "#" + airline,
                               count = num_tweets,
                               lang="en",
                               tweet_mode = 'extended',
                               since=date).items():
        
        print (airline, tweet.created_at, tweet.full_text)
        
        # insert into database. 
        # coll_ref is handle to the collection in the database.
        coll_ref.insert_one({'airline': airline, 'date': tweet.created_at, 'text': tweet.full_text})

In [ ]:
# pull 1000 tweets for each airline.
filename = "data/csvfiles/pulled_airline_tweets.csv"
date = "2017-12-05"
airline_name = ["UnitedAirlines", "AmericanAirlines", "SouthWestAirlines",
                "VirginAmerica", "USAirways", "JetBlue", "Delta"]
    
for name in tqdm(airline_name):
    pull_tweets_store_csv(name, filename, date, num_tweets=100)

In [112]:
df = pd.read_csv("data/csvfiles/test1.csv", 
                 encoding='utf-8', 
                 header=None,
                 names=['airline', 'date', 'tweet'])

In [113]:
df.shape

(2904, 3)

In [116]:
df.tweet[0]

"b'RT @MADlitMelll: #unitedAIRLINES this is absurd \\\\U0001f624 https://t.co/eW9UYEqpW0'"

In [45]:
# Somehow not writing emojis correctly to file, or maybe reading incorrectly... explore.

In [ ]:
#*************************** Insert tweets into database. *******************************

In [106]:
mongo_IP = '34.213.243.241'
mongo_port = 27016
mongoDBname = "airline_database"
collec_name = "new_airline_tweets"

# Instantiate client to our Mongo Server
client = pymongo.MongoClient(mongo_IP,mongo_port)    
# get a handle to the twitter database
db_ref = client[mongoDBname]    
# get a reference to specified collection. If it does not exist, it will be created.
coll_ref = db_ref[collec_name]

In [111]:
mongo.mongoDB_get_DBnames(), mongo.mongoDB_get_collection_names(mongoDBname), coll_ref.count()

(['admin',
  'airline_database',
  'local',
  'test',
  'twit_database',
  'wiki_database'],
 ['new_airline_tweets', 'airline_tweets'],
 7061)

In [108]:
# Get tweets since this date.
airline_names = ["UnitedAirlines", "AmericanAirlines", "SouthWestAirlines",
                "VirginAmerica", "USAirways", "JetBlue", "Delta"]
date_since = "2017-12-27"

In [ ]:
# pull tweets and store in database.
for airline in airline_names:
    print(airline)
    tweepy_pull_tweets_store_db(airline, coll_ref, date_since, num_tweets = 100)

In [110]:
coll_ref.count()

7061

### Now let's read the stored tweets.

In [112]:
mongoDBname = "airline_database"
collec_name = "new_airline_tweets"

In [113]:
airline_tw_collec = mongo.mongoDB_read_collection(mongoDBname, collec_name)

In [114]:
type(airline_tw_collec)

list

In [115]:
df = pd.DataFrame(airline_tw_collec)
df.head(2)

,_id,airline,date,text
0,5a5535a91fac9004a2f202d6,UnitedAirlines,2018-01-09 21:19:36,Kudos to the #unitedairlines staff for helping...
1,5a5535a91fac9004a2f202d7,UnitedAirlines,2018-01-09 21:06:39,And the painful experience with @united conti...

In [116]:
df.shape

(7061, 4)

In [117]:
df.drop('_id', axis = 1,inplace=True)

In [119]:
df.shape

(7061, 3)

In [120]:
df.head()

,airline,date,text
0,UnitedAirlines,2018-01-09 21:19:36,Kudos to the #unitedairlines staff for helping...
1,UnitedAirlines,2018-01-09 21:06:39,And the painful experience with @united conti...
2,UnitedAirlines,2018-01-09 21:02:07,@united is the shittiest airline company I hav...
3,UnitedAirlines,2018-01-09 20:56:00,Oh joy. You came home. #lostluggage #unitedair...
4,UnitedAirlines,2018-01-09 20:49:48,RT @officiParas: #UnitedAirlines Offers Custom...

In [121]:
df.airline.unique()

array(['UnitedAirlines', 'AmericanAirlines', 'SouthWestAirlines',
       'VirginAmerica', 'USAirways', 'JetBlue', 'Delta'], dtype=object)

In [122]:
filename = 'data/pulled_tweets/PT_all_airlines_df'
filehandler = open(filename,"wb")
pickle.dump(df, filehandler)